/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue-400-webfont.eot');
  src: url('../fonts/bebas-neue-400-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebas-neue-400-webfont.woff2') format('woff2'),
       url('../fonts/bebas-neue-400-webfont.woff') format('woff'),
       url('../fonts/bebas-neue-400-webfont.ttf') format('truetype'),
       url('../fonts/bebas-neue-400-webfont.svg#bebas-neue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-400.eot");
  src: url("../fonts/proxima-nova-400.eot?#iefix") format("embedded-opentype"),
       url("../fonts/proxima-nova-400.woff") format("woff"),
       url("../fonts/proxima-nova-400.ttf") format("truetype"),
       url("../fonts/proxima-nova-400.svg#proxima-nova") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-600.eot");
  src: url("../fonts/proxima-nova-600.eot?#iefix") format("embedded-opentype"),
       url("../fonts/proxima-nova-600.woff") format("woff"),
       url("../fonts/proxima-nova-600.ttf") format("truetype"),
       url("../fonts/proxima-nova-600.svg#proxima-nova") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* Global */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font: 400 14px "Proxima Nova", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../images/portland.jpg) no-repeat center 310% fixed;
  background-size: cover;
}

header.hero-container {
  flex: auto;
  background: url(../images/portland.jpg) no-repeat center 40% fixed;
  background-size: cover;
}

header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(42, 42, 42, 0.8);
  z-index: 1;
}

header * {
  z-index: 2;
}

header nav {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 24px 0;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

header nav li {
  display: inline-block;
  margin: 0 20px;
  padding: 2px 0;
}

header nav li a:hover {
  opacity: 0.6;
}

header nav .active {
  border-bottom: 2px solid #1fb4dd;
}

header nav .active a:hover {
  opacity: 1;
  cursor: default;
}

header h1 {
  font: 400 42px/1.1 "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px 0;
  color: #fff;
}

header.hero-container .hero {
  margin: 80px 0;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header.hero-container h1 {
  width: 480px;
  font-size: 58px;
  margin: 0 auto 24px;
}

header .presents,
header .dateloc {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  z-index: 2;
  opacity: 0.7;
}

header .presents {
  margin: 0 0 24px;
}

/* Sponsors */

.sponsors {
  padding: 0 0 24px;
}

.sponsors h4 {
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(255,255,255,0.7);
  font-size: 12px;
}

.sponsors ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sponsors li {
  display: inline-block;
  margin: 0 20px;
}

.sponsors a {
  opacity: 0.5;
}

.sponsors a:hover {
  opacity: 0.7;
}

/* Content */

.content  {
  max-width: 880px;
  width: 90%;
  margin: 0 auto;
  padding: 72px 0;
}

.content h2 {
  font: 700 30px/1 "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 48px;
}

.content .coming-soon {
  font-size: 16px;
  color: #777;
  text-align: center;
}

.content .lg-button {
  display: inline-block;
  font: 700 15px "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background: #1fb4dd;
  padding: 20px 0;
  border-radius: 4px;
  width: 100%;
  margin-top: 40px;
}

.content .lg-button:hover {
  opacity: 0.6;
}

/* Schedule */

.content .schedule::after {
  content: "";
  display: block;
  clear: both;
}

.content .schedule > div {
  box-sizing: border-box;
  width: 50%;
}

.content .schedule > div:first-of-type {
  float: left;
  padding-right: 20px;
}

.content .schedule > div:last-of-type {
  float: right;
  padding-left: 20px;
}

.content .schedule h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 28px 0 0;
  color: #1fb4dd;
  border-top: 2px solid #1fb4dd;
  margin-bottom: 40px;
}

.content .schedule .event {
  font-size: 16px;
  line-height: 1.5;
  margin: 28px 0;
}

.content .schedule .event::after {
  content: "";
  display: block;
  clear: both;
}

.content .schedule .time {
  width: 23%;
  display: block;
  float: left;
  color: #999;
}

.content .schedule .description {
  width: 77%;
  display: block;
  float: right;
  color: #333;
}

.content .schedule .note {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 15px 20px;
  background: #f2f2f2;
  color: #777;
  border-radius: 4px;
}

/* Registration */

.content .registration-letter {
  box-sizing: border-box;
  padding: 50px 60px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

.content .registration-letter li {
  margin: 16px 0;
}

.content .registration-letter a {
  border-bottom: 1px solid #ccc;
}

.content .registration-letter a:hover {
  color: #1fb4dd;
  border-bottom: 1px solid rgba(31, 180, 221, 0.25);
}

/*
.content .registration-letter ~ .lg-button {
  width: 49%;
}

.content .registration-letter ~ .lg-button:first-child {
  float: left;
}

.content .registration-letter ~ .lg-button:last-child {
  float: right;
}
*/

/* Footer */

footer {
  text-align: center;
  padding: 24px 0;
  color: #777;
/*  background: #f2f2f2;*/
  border-top: 1px solid #e2e2e2;
}

footer a {
  border-bottom: 1px solid #ccc;
}

footer a:hover {
  color: #333;
  border-bottom: 1px solid #777;
}

footer li {
  display: inline-block;
}

footer li::after {
  content: "/";
  display: inline;
  margin: 0 10px;
  color: #ccc;
}

footer li:last-of-type::after {
  content: "";
  margin: 0;
}
